/* ------ base styles ------ */
* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app-content {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  padding: 15px;
  height: 100vh;
  box-sizing: border-box;
  font-size: small;
}

.artistListSection,
.artistDetailsSection {
  background-color: #dadada;
  border: 0.5px solid black;
}

.artistSection,
.artistListSection,
.artistDetailsSection,
.artistTitle,
.songLyrics,
.songDetails,
.addArtistPopup-inner {
  border-radius: 6px;
}

.artistSection,
.button,
.three-lines,
.new-tab,
.form-btn button,
.song-btn,
.close-btn {
  cursor: pointer;
}

/* ------ artist list section ------ */
.artistListSection {
  flex: 1 1 base;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 15px 20px;
  justify-content: space-between;
  width: 420px;
}

.artistList {
  width: 90%;
  overflow: scroll;
}

.artistSection {
  line-height: 1.6;
  background-color: white;
  padding: 2em 0 2em 3em;
  margin-bottom: 1.5em;
}

.selectedArtist {
  background-color: #e5f2e5;
  border: 1px solid #7fbf7f;
}

.buttons {
  display: flex;
  gap: 40px;
  width: 68%;
  margin-top: 20px;
}

.button {
  border: none;
  border-radius: 4px;
  padding: 1.2em;
  flex: 1;
  background-color: white;
}

/* ------ artist details section ------ */
.artistDetailsSection {
  flex: 3 1 auto;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.artistTitle,
.songLyrics,
.songDetails {
  background-color: white;
  margin: 5px 15px 5px 10px;
  padding: 0.5em;
}

.artistTitle {
  display: flex;
  align-items: center;
  flex: 0 0 base;
}

.new-tab {
  margin-left: auto;
}

.three-lines {
  margin-right: 5px;
}

.songLyrics,
.songDetails {
  white-space: pre-wrap;
  overflow: scroll;
}

.songLyrics {
  height: 65%;
  flex: 0 0 auto;
}

.songDetails {
  flex: 1 1 auto;
}

/* ------ popup ------ */
.addArtistPopup,
.song-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(8px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.addArtistPopup-inner,
.song-popup-inner {
  position: relative;
  bottom: 30px;
  padding: 50px 50px 30px;
  width: 100%;
  max-width: 500px;
  background-color: #e5f2e5;
}

h1 {
  border-bottom: 1px solid white;
  color: #3d3d3d;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px;
  text-align: center;
}

.artist-input-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 500px;
  padding: 30px 50px;
}

input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

label {
  color: #3d3d3d;
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin: 15px 0 5px;
}

.form-btn {
  display: flex;
  justify-content: center;
  gap: 130px;
  margin-top: 30px;
}

.form-btn button {
  width: 100px;
  border-radius: 4px;
  padding: 8px 0;
}

.song-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 30px 50px;
  gap: 10px;
}

.song-btn {
  width: 400px;
  border-radius: 4px;
  padding: 8px 0;
}

.close-btn {
  width: 80px;
  border-radius: 4px;
  padding: 8px 0;
  background-color: #ff5252;
  font-weight: 600;
}
