/* ------ base styles ------ */
* {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}

.app-content {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  padding: 15px;
  height: 100vh;
  box-sizing: border-box;
}

.artistListSection,
.artistDetailsSection {
  background-color: #dadada;
  border: 0.5px solid black;
}

.artistSection,
.artistListSection,
.artistDetailsSection,
.artistTitle,
.songLyrics,
.songDetails {
  border-radius: 6px;
}

/* ------ artist list section ------ */
.artistListSection {
  flex: 1 1 base;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 15px 20px;
  justify-content: space-between;
  width: 420px;
}

.artistList {
  width: 90%;
  overflow: scroll;
}

.artistSection {
  line-height: 1.6;
  background-color: white;
  padding: 2em 0 2em 3em;
  margin-bottom: 1.5em;
}

.selectedArtist {
  background-color: #e5f2e5;
  border: 1px solid #7fbf7f;
}

.buttons {
  display: flex;
  gap: 40px;
  width: 68%;
  margin-top: 20px;
}

.button {
  border: none;
  border-radius: 4px;
  padding: 1.2em;
  flex: 1;
  background-color: white;
}

/* ------ artist details section ------ */
.artistDetailsSection {
  flex: 3 1 auto;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.artistTitle,
.songLyrics,
.songDetails {
  background-color: white;
  margin: 5px 15px 5px 10px;
  padding: 0.5em;
}

.artistTitle {
  display: flex;
  align-items: center;
  flex: 0 0 base;
}

.new-tab {
  margin-left: auto;
}

.three-lines {
  margin-right: 5px;
}

.songLyrics,
.songDetails {
  white-space: pre-wrap;
  overflow: scroll;
}

.songLyrics{
  height: 65%;
  flex: 0 0 auto;
}

.songDetails {
  flex: 1 1 auto;
}

